/* Dashboard related styles for things like component header spacing, etc*/



#query-panel ul.toolbar {
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
	padding-top: 8px;
}

	#query-panel ul.toolbar li.toolbar-button {
		list-style-type: none;
		height: 32px;
		margin: 6px;
	}

		#query-panel ul.toolbar li.toolbar-button a {
			background: #659eeb;
			border-color: #659eeb;
			color: #fff;
			padding: 6px;
			cursor: pointer;
			border-radius:5px;
		}

			#query-panel ul.toolbar li.toolbar-button a:hover {
				background: #87b56c;
				border-color: #87b56c;
			}
