body {
	background: #4e555f;
	color: #CCD0D8;
}

.navbar-inverse {
	background-color: #383d43;
	border-color: #383d43;
}

.modal-content {
	background: #4e555f;
}

.ide-code {
	background: #202e39;
}

.cm-s-light-table.CodeMirror,
.cm-s-light-table.CodeMirror .CodeMirror-gutters,
.cm-s-light-table.CodeMirror .CodeMirror-linenumbers {
	background: transparent;
}


	.cm-s-light-table.CodeMirror .CodeMirror-gutters {
		border-color: #474D56;
	}

input, select, textarea {
	background: #202e39;
}

.modal-footer, .modal-header {
	border-color: #616873;
}

.graph-inner {
	background: #5f6670;
}

	.graph-inner .graph-footer {
		border-top: solid 1px #737982;
	}

	.graph-inner .graph-header {
		border-bottom: solid 1px #737982;
		background: Transparent;
	}

.graph-title {
	color: #ECF1F7;
}

.btn-info {
	background: #5f6670;
	border-color: #5f6670;
}


a {
	color: #9da1aa;
	cursor: pointer;
}

	a:hover {
		color: #4f94f2;
	}

	a:active {
		color: #3787f4;
	}

/* Colours! */

.blue {
	color: #659eeb;
}

.blue-bg, .blue-bg:hover, .blue-bg:active, .blue-bg:focus {
	background: #659eeb;
	border-color: #659eeb;
	color: #fff;
}

.red {
	color: #eb6c65;
}

.red-bg, .red-bg:hover, .red-bg:active, .red-bg:focus {
	background: #eb6c65;
	border-color: #eb6c65;
	color: #fff;
}

.green {
	color: #87b56c;
}

.green-bg, .green-bg:hover, .green-bg:active, .green-bg:focus {
	background: #87b56c;
	border-color: #87b56c;
	color: #fff;
}


.dashboard-title {
	color: #ECF1F7;
}

hr {
	border-top: 1px solid #737982;
}

.btn-default, .btn-default:hover, .btn-default:active, .btn-default:focus {
	color: #fff;
	background-color: #616873;
	border-color: #616873;
}

.mung-section {
	background: #5f6670;
}

	.mung-section h2 {
		color: #fff;
	}

table.mung-table {
	border-bottom: solid 1px #737982;
}

	table.mung-table td {
		border-top: 1px solid #737982;
	}

	table.mung-table th {
		background: #555D67;
		border-bottom: 1px solid #737982;
		text-align: left;
		font-weight: bold;
		color: #fff;
	}

	table.mung-table tr:nth-child(odd),
	.mung-section .section-inner > ul > li:nth-child(odd),
	.mung-section > ul > li:nth-child(odd) {
		background: #616973;
	}

ul.firehose > li {
	padding-left: 8px;
	padding-right: 8px;
}

.jsonview .null {
	color: #414448;
}

.jsonview .num {
	color: #87B56C;
}


.jsonview .string {
	color: #659eeb;
}

.jsonview .bool {
	color: #eb6c65;
}


.nvd3 text {
	fill: #9DA1AA;
}

.nvd3 .tick line {
	stroke: #9DA1AA;
	stroke-opacity: 0.15;
}

.nvd3 .nv-axis path.domain {
	stroke: #9DA1AA;
	stroke-opacity: 0.15;
}
