@{
	ViewBag.Title = "Dashboard";

	var dashboards = ViewBag.Dashboards as List<Dashboard>;
}
<div class="row">
	<div class="col-sm-12">
		<div class="mung-section">
			<div class="section-header">
				<button type="button" class="btn btn-md green-bg pull-right add-dashboard-button">+ Add dashboard</button>
				<h2> Dashboards</h2>
			</div>

			<ul class="link-list list-unstyled">
				@if (dashboards.Count == 0) {
					<li class="empty-message">
						You have not yet created any dashboards, please use the 
						"Add dashboard" button above to get started.
					</li>

				}
				@foreach (var dashboard in dashboards) {
					<li>
						<a href="@("/dashboard" + dashboard.Url)">@dashboard.Title</a>

					</li>

				}
			</ul>


		</div>

	</div>

</div>


@Html.Partial("Templates/DashboardModal")