@using System.Security.Claims
@{
	var loggedIn = false;

	var mungerIdentity = this.Context.CurrentMungerIdentity();
}

@if (mungerIdentity != null) {


<ul class="nav navbar-nav navbar-right">
	<li>
		<a class="pull-right" href="javascript:void(0)">@mungerIdentity.Munger.Name</a>
	</li>
	<li>
		<form method="post" action="/@Urls.LOGOUT">
			<button type="submit" class="btn btn-info btn-sm red-bg">Sign out</button>
		</form>
	</li>
</ul>
} else {
<ul class="nav navbar-nav navbar-right">
	<li>
		<a class="pull-right" href="/@Urls.INITIAL_ACCOUNT_CREATE">Setup</a>
	</li>
	<li>
		<a class="pull-right" href="/@Urls.LOGIN">Login</a>
	</li>
</ul>
}
