<div class="mung-table-binder">

</div>

<sql>
    SELECT system_performance_at, cpu_percent, ram_percent 
    FROM mung.system_performance 
    ORDER BY system_performance_at DESC limit 1
</sql>


<script type="text/javascript">    
    MUNG.graphReady(function($graph, dashboard){
        MUNG.Sql.execute( $graph.find("sql").text(), "Mung Events (SQL)", function(r){
	       $graph.find(".mung-table-binder").mungTableBinder(r);
        });
    });
</script>

