@{
	ViewBag.Title = "Connections";

	var connections = ViewBag.Connections as List<Connection>;
}
<div class="row">
	<div class="col-sm-12">
		<div class="mung-section">
			<div class="section-header">
				<button type="button" class="btn btn-md green-bg pull-right add-dashboard-button">+ Add connection</button>
				<h2> Connections</h2>
				<p>
					MUNG provides two default connections, to enable to 
				</p>
			</div>

			<ul class="link-list list-unstyled">
				@foreach (var cn in connections) {
				<li>
					<a href="#" class="btn btn-sm blue-bg edit-connection" data-connection="@JsonConvert.SerializeObject(cn)">Edit</a>
					@cn.Name (@cn.Provider.Name)

				</li>

				}
			</ul>


		</div>

	</div>

</div>

@Html.Partial("Templates/ConnectionModal")