
.graph-content {
	padding-bottom: 24px;
}

.graph-inner {
	padding: 0;
	position: relative;
}

	.graph-inner .graph-header {
		padding: 8px;
	}

		.graph-inner .graph-header h2 {
			font-size: 10pt;
			text-align: left;
			margin: 0;
			padding: 0;
			min-height: 14px;
		}

	.graph-inner .graph-footer {
	}

	.graph-inner .graph-error {
		padding: 4px;
		display: none;
		padding-bottom: 24px;
	}


	.graph-inner h2 {
		text-align: center;
		margin: 0;
		padding: 4px;
	}


	.graph-inner .graph-footer {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 0px;
		padding-left: 24px;
		padding-right: 24px;
		height: 24px;
		line-height: 24px;
	}


.grid-stack > .grid-stack-item > .grid-stack-item-content {
	overflow-y: hidden;
}
