/* Style sheet for standard layout and defaults for mung.  Try to avoid doing anything
	theme related in this.
*/

body {
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: Consolas, monospace;
	font-size: 12px;
}

.navbar {
	margin-bottom: 0;
}

.btn {
	font-size: 12px;
}


input, select {
	display: block;
	padding: 6px;
	color: #ddd;
	margin-bottom: 8px;
	outline: none;
	background: rgba(255,255,255, 0.1);
	border: solid 1px rgba(0,0,0, 0.2);
	width: 100%;
}

.schemata input:active {
	background: rgba(255,255,255, 0.2);
	border: solid 1px rgba(255,255,255, 0.2);
	outline: none;
}

.schemata input:focus {
	background: rgba(255,255,255, 0.1);
	border: solid 1px rgba(255,255,255, 0.2);
	outline: none;
}


.icon-circle-arrow-right {
	display: none;
}

.navbar-nav {
	margin-left: 64px;
}

.navbar h1 {
	color: #fff;
	line-height: 50px;
	font-size: 14px;
	margin: 0;
	padding: 0;
	font-family: Consolas;
}

.navbar .navbar-nav li button {
	margin: 10px;
	display: block;
}

.dashboard-title {
}


.edit-graph {
	display: block;
	float: right;
}

.preview.graph {
	padding: 32px;
}

table.mung-table th {
	font-weight: bold;
}

.mung-table-binder {
}


.mung-section {
	margin-top: 24px;
}

	.mung-section .section-header {
		padding: 24px;
		padding-bottom: 0;
	}

	.mung-section .section-inner {
		padding: 24px;
		padding-top: 0;
	}

	.mung-section h2 {
		font-size: 24px;
		padding-bottom: 16px;
		margin-top: 0;
	}

	.mung-section ul.link-list {
		margin: 0;
		padding: 0;
		padding-bottom: 24px;
	}

		.mung-section ul.link-list > li {
			font-size: 14px;
			padding: 8px;
			padding-left: 24px;
			padding-right: 24px;
			border-bottom: solid 1px #6F767F;
		}


.firehose > li {
	margin-bottom: 8px;
}

.dashboard-header {
	padding: 10px;
}

.login-error-message {
	display: block;
	margin: 0 auto;
	padding: 8px;
	margin-bottom: 32px;
	width: 80%;
	text-align: center;
}

.graph-templates {
	display: none;
}
