<!-- <Templates/ConnectionModal> -->
<style>
	.connection-test-result {
		width: 50%;
		margin: 0 auto;
	}

		.connection-test-result > div {
			padding: 8px;
			padding-left: 24px;
			padding-right: 24px;
			margin-top: 12px;
		}

			.connection-test-result > div h3 {
				margin: 0;
				font-size: 18px;
			}

			.connection-test-result > div p {
				margin: 0;
			}
</style>

<div id="save-connection-modal" class="modal fade">
	<div class="modal-dialog modal-lg">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">
					<span class="edit">Edit Connection</span>
					<span class="add">Add Connection</span>

				</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col col-sm-12">
						<label>Connection name</label>
						<input type="text" class="connection-name" placeholder="Enter a name for this connection" />
						<input type="hidden" class="connection-id" value="-1" />
					</div>
				</div>
				<div class="row">
					<div class="col col-sm-12">
						<label>Connection type</label>
						<select class="connection-type">
							@foreach (var provider in Provider.Providers) {
							<option value="@provider.ProviderId">@provider.Name</option>
							}
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col col-sm-12">
						<label>Connection string</label>
						<input type="text" class="connection-string" placeholder="Enter the connection string for this provider" />
					</div>
				</div>
				<div class="row">
					<div class="col col-sm-12">
						<button class="btn btn-lg blue-bg btn-test-connection" style="margin:0 auto; display:block">Test connection</button>
						<div class="connection-test-result" style="display: none;">
							<div class="connection-test-success green-bg">
								<h3>Connection attempt succeeded</h3>
							</div>
							<div class="connection-test-failure red-bg">
								<h3>Connection attempt failed</h3>
								<p class="connection-test-message"></p>
							</div>

						</div>
					</div>
				</div>
			</div>



			<div class="modal-footer">
				<button type="button" class="btn btn-default left btn-close">Close</button>
				<button type="button" class="btn right btn-save green-bg">Save</button>
			</div>
		</div>


		<script type="text/javascript">
			MUNG.ready(function () {
				$("#save-connection-modal .btn-save").click(function () {
					$(this).text("Saving...");
					$.ajax({
						url: "/api/connection/save",
						data: {
							"name": $(".connection-name").val(),
							"connectionId": parseInt($(".connection-id").val()),
							"connectionString": $(".connection-string").val(),
							"providerId": parseInt($(".connection-type").val())
						},
						method: "POST",
						success: function (response) {
							$(this).text("Saved!");
							setTimeout(function () { $("#save-connection-modal").modal('hide'); }, 500);
							document.location.reload();
						},
						error: function (a, b, c, d) {
							$(this).text("Oops...");
							console.error("Error: mungGraph.saveLayout", { a: a, b: b, c: c, d: d });
						}
					});

				});
				$("#save-connection-modal .btn-test-connection").click(function () {
					$(this).text("Testing...");
					$(".connection-test-result").css("display", "none");
					$.ajax({
						url: "/api/connection/test",
						data: {
							"name": $(".connection-name").val(),
							"connectionId": parseInt($(".connection-id").val()),
							"connectionString": $(".connection-string").val(),
							"providerId": parseInt($(".connection-type").val())
						},
						method: "POST",
						success: function (response) {
							$(".connection-test-result").css("display", "block");
							if (response.Success) {
								$("#save-connection-modal .btn-test-connection").text("Success!");

								setTimeout(function () { $("#save-connection-modal .btn-test-connection").text("Test connection"); }, 1000);

								$(".connection-test-success").fadeIn(500);
								$(".connection-test-failure").hide();
							} else {
								$("#save-connection-modal .btn-test-connection").text("Connection failed");
								$(".connection-test-success").hide();
								$(".connection-test-failure").fadeIn(500);

								$(".connection-test-message").text(response.Message);
								setTimeout(function () { $("#save-connection-modal .btn-test-connection").text("Test connection"); }, 1000);
							}

						},
						error: function (a, b, c, d) {
							$(this).text("Oops...");
							console.error("Error: mungGraph.saveLayout", { a: a, b: b, c: c, d: d });
						}
					});

				});

				$(".edit-connection").click(function () {
					var connection = $(this).data("connection");
					$(".connection-name").val(connection.Name);
					$(".connectionId").val(connection.ConnectionId);
					$(".connection-string").val(connection.ConnectionString);
					$(".connection-type").val(connection.ProviderId);
					$("#save-connection-modal").modal('show');
					return false;
				})

				$("#save-connection-modal .btn-close").click(function () {
					$("#save-connection-modal").modal('hide');
				});

				$(".add-dashboard-button").click(function () {
					$("#save-connection-modal").modal('show');
				});
			});
		</script>
	</div>
</div>
<!-- </Templates/ConnectionModal> -->