<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>

	<appSettings>
		<add key="mung-host" value="http://localhost:5000"/>
		<add key="mung-key" value="fr03Bfz35jmXcNr6"/>
		<add key="mung-secret" value="tQQHbXBjGAh7iTMHdUdD09LPa1Ig+t8mmXiGtLOzMwY="/>
	</appSettings>
</configuration>