<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>

	<appSettings>
		<add key="mung-host" value="http://localhost:5000"/>
		<add key="mung-key" value="Q2cuzJshRZOR6ulK"/>
		<add key="mung-secret" value="lGJ+J2qHeFZnoKWuWydBvg73DdhiPgK+38/kGJ9CfN4="/>
	</appSettings>
</configuration>