<!-- <Templates/View> -->
<div class="graph grid-stack-item template">
	<div class="graph-inner grid-stack-item-content">
		<div class="graph-header">

			<a class="edit-graph"><i class="fa fa-cog"></i></a>
			<h2 class="graph-title"></h2>
		</div>

		<div class="graph-content ">
			<div class="graph-content-inner">

			</div>

			<div class="graph-error red-bg"></div>
		</div>

		<div class="graph-footer">
			<div class="status"></div>
		</div>
	</div>
</div>
<!-- </Templates/View> -->