
<h1>TESTING AND AGAIN</h1>
<div class="realtime-graph" data-subscription-events="system_performance">
    <div class="realtime-values">
        <ul>
            <li class="realtime-value">
                <h4 class="value-header">CPU</h4>
                <h2 class="single-value-holder cpu_percent"></h2>
            </li>
            <li class="realtime-value">
                <h4 class="value-header">RAM</h4>
                <h2 class="single-value-holder ram_percent"></h2>
            </li>
            <li class="realtime-value">
                <h4 class="value-header">RAM Available</h4>
                <h2 class="single-value-holder ram_available"></h2>
            </li>
            <li class="realtime-value">
                <h4 class="value-header">Disk Read MB</h4>
                <h2 class="single-value-holder disk_read_mb"></h2>
            </li>
            <li class="realtime-value">
                <h4 class="value-header">Disk Write MB</h4>
                <h2 class="single-value-holder disk_write_mb"></h2>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript">    
    MUNG.graphReady(function(graph, dashboard){
        graph.find("h1").css("background", "#ff0");
    });

</script>

