
<div class="chart-holder"></div>

<sql>
SELECT *
FROM (
    SELECT system_performance_at AS date, cpu_percent, ram_percent 
    FROM mung.system_performance 
    ORDER BY system_performance_at DESC 
    LIMIT 100
) a
ORDER BY date ASC 
    
</sql>


<script type="text/javascript">    
    MUNG.graphReady(function($graph, dashboard){
        MUNG.Sql.execute( $graph.find("sql").text(), "Mung Events (SQL)", function(data){
            
            $graph.find(".chart-holder").mungChartDateLine(data, {
                dateColumn: "date", 
                seriesColumns: [
                  {name: "cpu_percent", color: "#659eeb"},
                  {name: "ram_percent", color: "#87b56c"}
                ], 
                yFormatter: function(d) { return parseInt(d); }
            });
            
        });
    });
</script>

